<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

  <style>
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
  </style>

<iframe id="searchBox" 
  width="80%" height="60%" 
  src="https://banramlo.github.io/search" 
  style="position: fixed; z-index: 9999; left:10%; top:-100%; background-color: white; padding:20px">
</iframe>

<iframe id="externalBoxBG" 
  width="100%" height="100%" 
  style="position: fixed; z-index: 9998; left:0%; top:-100%; background-color: rgba(128,128,128,0.5)">
</iframe>

<iframe id="mathBox" 
  width="350" height="60%" 
  src="https://banramlo.github.io/mathtools" 
  style="position: fixed; z-index: 9997; right:10%; top:-100%; background-color: white; padding:20px">
</iframe>

  <script language = "javascript">
    function setSearchBox(){
      document.getElementById("searchBox").style.top="20%";
      document.getElementById("externalBoxBG").style.top="0%";
      document.body.style.overflow = "hidden";
    }
    
    function setMathBox(){
      document.getElementById("mathBox").style.top="20%";
    }
        
  </script>
  {%- if site.title-img -%}
    <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img alt="{{ site.title }} Logo" src="{{ site.title-img | relative_url}}"/></a>
  {%- elsif site.title -%}
    <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>
  {%- endif -%}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {%- for link in site.navbar-links -%}
        {%- if link[1].first %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link[0] }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%- for childlink in link[1] -%}
                {%- for linkparts in childlink %}
                  <a class="dropdown-item" href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
                {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
      <li>
        <div class="nav-item">
          <a class="nav-link" onclick="setMathBox()">Toolbox</a>
        </div>
      </li>
      <li>
        <div class="nav-item">
          <a class="nav-link" onclick="setSearchBox()">Search</a>
        </div>
      </li>
    </ul>
  </div>

  {% if site.navbar-extra %}
    {% for file in site.navbar-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}

  {% if site.avatar and page.show-avatar != false %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '' | absolute_url }}">
          <img alt="Navigation bar avatar" class="avatar-img" src="{{ site.avatar | relative_url }}" />
        </a>
      </div>
    </div>
  {% endif %}

</nav>
